/*.container {
    .children {

    }
}*/

*{
    box-sizing: border-box;
}

.chars{
}

.chars-pics{
    width: 300px;
    /*mix-blend-mode: multiply;*/
    transition: all .3s;
}

.chars-items{
    display: flex;
    overflow-x: scroll;
    padding: 1rem 0;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 450px;
    margin-left: 1rem;
    scroll-snap-type: x mandatory;
}

.chars-pics:hover{
    filter: drop-shadow(30px 10px 4px rgb(160, 0, 210));
}